* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

h1,
h2 {
  color: white;
  text-align: center;
  padding: 10px;
}

#griglia {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.cella {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
}

.cella.bg-azzurro {
  background-color: aqua;
}
